[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
fake-useragent = "*"
slackblocks = "*"
slackclient = "*"
python-dotenv = "*"
pydash = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python3 script/main.py"
